.footer-main-container {
  .footer-container {
    background-color: #f0efeb;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    p {
      margin: 0;
      padding: 0;
      color: black;
      font-size: 1.3rem;
    }
  }
}
