.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background-color: #f0efeb;
  padding: 0;
  box-sizing: border-box;
}
